<div id="ingridients">

	<div id="divSym">
		<table id="tableSym" class="table table-hover">
			<thead>
		    <tr>
		      <td>Name</td>
		      <td></td>
		      <td></td>
		      <td></td>
			</tr>
			</thead>
		    <tbody>
		    <tr id="tr" *ngFor="let i of ingridients">
			
				<td>
			   		{{i.name}}
			    </td>
			    <td>
			    	<button class="btn btn-success" (click)="update(i.id)">Update</button>
			    </td>
			    <td>
			    	<button class="btn btn-warning" (click)="addIngridientAllergic(i.id)">Patient Allergic</button>
			    </td>
			    <td>
			    	<button class="btn btn-danger" (click)="deleteIngridient(i.id)">Delete</button>
			    </td>
			    </tr>
		    </tbody>
		</table>
	</div>
	<br/><br/>
	<div *ngIf="role == 'ADMIN'">
		<button class="btn btn-danger" (click)="back()">Back</button>
		<button class="btn btn-success" data-dismiss="modal" (click)="openModal()">Add Ingridient</button>
	</div>
	<div *ngIf="role != 'ADMIN'">
		<button class="btn btn-danger" (click)="back()">Back</button>
	</div>
	
	<div [ngStyle]="{'display':display}" class="modal" id="symModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="form-control-static pull-left">
          <button class="close" data-dismiss="modal" (click)="onModalClose()">&times;</button></span>
        </div>
        <div class="modal-body">
          <div class="row" *ngIf="!addAllergy">
			<div id="nameValue">
				<label for="fieldName" class="form-control-label">Name:</label>
			    <input type="text" [(ngModel)]="ingridient.name" placeholder="Name"
			               class="form-control" id="fieldName" name="fieldName1" >
		     
		    </div>  
			</div>
			<div *ngIf="addAllergy">
        	<div class="row">
				<select [(ngModel)]="ingridientAllergy.patientId" class="form-control" id="fieldPatient" name="fieldPatient1">
				  <option *ngFor="let p of patients" [value]="p.id" >{{p.firstName}} {{p.lastName}} [ {{p.patientId }} ]</option>
				</select>
			</div>
        </div>
		
        </div>
        

        <div class="modal-footer">
          <ng-container *ngIf="!addAllergy">
          	<button class="btn btn-success" data-dismiss="modal" (click)="saveIngridient()">Save</button>
          </ng-container>
          <ng-container *ngIf="addAllergy">
          	<button class="btn btn-success" data-dismiss="modal" (click)="saveAllergy()">Add Allergy For Patient</button>
          </ng-container>
          <button id="modalCloseButton" class="btn btn-danger" data-dismiss="modal" (click)="onModalClose()">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <div [ngStyle]="{'display':displayError}" class="modal" id="errorModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="form-control-static pull-left">
          <button class="close" data-dismiss="modal" (click)="onModalErrorClose()">&times;</button></span>
       
        </div>
        <div class="modal-body">
          <div id="term">
			<label for="fieldMedc" class="form-control-label">Patient allready allergic to this ingredient!</label>
			
        </div>
          

        <div class="modal-footer">
          <button id="modalCloseButton" class="btn btn-danger" data-dismiss="modal" (click)="onModalErrorClose()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>