#symptoms{
	position: absolute;
	top: 10%;
	left: 10%;
}

.row{
  display: table-row;
}

#term, #tempValue{
	display:inline-block;
}

#all, #one {
	display: none;
}

#illnessModal, #symModal, #medModal, #allModal {
  top: 5%;
}

#symModal, #medModal, #allModal {
	width: 700px;
	left:15%;
}

#divSym, #divMed, #div1{
  overflow:auto;
  height: 300px;
}

#div2{
  overflow:auto;
  height: 200px;
}
